// GENERAL VARIABLES

$backColor: rgba(84,14,51,255);
$secondaryColor: #000046;
$hoverColor: #1CB5E0;
$fontColor: aliceblue;
$secondaryFontColor: whitesmoke;
/*$boxBackground: rgb(16, 16, 16);
$hoverBox: rgb(29, 29, 29);
$modalColor: rgba(17, 17, 17, 0.741); */